<div *ngFor="let comment of comments$ | async">
  <div style="padding: 10px;">
    <p-card >
 <!-- Usuario -->
  @if(comment.user_id){
    <div class="user">
      <p-avatar     image="https://randomuser.me/api/portraits/men/44.jpg" class="mr-2" size="large" shape="circle" />
    </div>
  }

      <p-scrollpanel [style]="{ width: '100%', height: '75px' }">
        <p>
          {{ comment.text }}
      </p>
      </p-scrollpanel>

      <p-divider />

  </p-card>
  </div>

</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="comment-form">
  <input
    pInputText
    type="text"
    formControlName="text"
    placeholder="Escribe un comentario..."
  />
  <p-button type="submit" label="Comentar" [disabled]="form.invalid" aria-label="comment" severity="success"></p-button>
</form>
