<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
  <p-card  >
  <!-- Users -->

  @if(post.user_id){
    <div class="user">
      <p-avatar      image="https://randomuser.me/api/portraits/men/44.jpg" class="mr-2" size="large" shape="circle"  (click)="gtoUserProfile(post.user_id)"/>
    </div>
  }
  <!--  post content -->

  <div class="content"  (keypress)="goToDetails(post.id!)" (click)="goToDetails(post.id!)">
    <p-scrollpanel [style]="{ width: '100%', height: '150px' }" >
      <p>
        {{ post.content?.text }}
    </p>
    </p-scrollpanel>


    <ng-container *ngIf="post.content && isPicture(post.content)">
      <img
        [src]="post.content.picture_url"
        class="media"
        alt=" post image"
      />
    </ng-container>

    <ng-container *ngIf="post.content && isVideo(post.content)">
      <video
        [src]="post.content.video_url"
        class="media"
        controls
      ></video>
    </ng-container>
  </div>


</p-card>
