<div class="card w-full max-w-md mx-auto mt-10">
  <h2 class="text-2xl font-bold mb-4 text-center">Crear cuenta</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field mb-3">
      <label for="name">Nombre</label>
      <input id="name" type="text" pInputText formControlName="name" class="w-full" />
    </div>

    <div class="field mb-3">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText formControlName="email" class="w-full" />
    </div>

    <div class="field mb-3">
      <label for="password">Contraseña</label>
      <input id="password" type="password" pInputText formControlName="password" class="w-full" />
    </div>

    <div class="field mb-4">
      <label for="avatar_url">Avatar (URL)</label>
      <input id="avatar_url" type="text" pInputText formControlName="avatar_url" class="w-full" />
    </div>
 <p-button  type="submit" [disabled]="form.invalid || (isLoading$ | async)">Submit</p-button>


    <div *ngIf="error$ | async as error" class="text-red-500 mt-3 text-center">
      {{ error }}
    </div>
  </form>

  <p class="text-center mt-4">
    ¿Ya tienes una cuenta?
    <a routerLink="/auth/login" class="text-blue-500 hover:underline">Inicia sesión</a>
  </p>
</div>
