<div class="register-container">
  <div class="register-card">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <input pInputText formControlName="name" placeholder="Name" class="w-full" />
      <input pInputText formControlName="email" placeholder="Email" class="w-full" />
      <input pInputText formControlName="password" placeholder="Password" type="password" class="w-full" />
      <input pInputText formControlName="avatar_url" placeholder="Avatar URL (optional)" class="w-full" />

      <button
        pButton
        type="submit"
        class="w-full register-button"
        [disabled]="form.invalid || (isLoading$ | async)"
      >
        Sign Up
      </button>
    </form>

    <div class="login-text">
      Already have an account?
      <a routerLink="/auth/login">Log in</a>
    </div>
  </div>
</div>
