<div class="timeline">

  <div  *ngFor="let post of posts$ | async"  >
    <div style="padding: 10px; cursor: pointer;">
        <app-post-card   [post]="post" />
      </div>

  </div>

  <div #scrollAnchor class="scroll-anchor"></div>
  <div *ngIf="isLoading$ | async" class="loading">Loading...</div>

</div>
<!-- Modal de creación -->
<app-create-post #postModal (postCreated)="timelineStore.loadTimeline()" />

<!-- Botón flotante -->
<button
  pButton
  icon="pi pi-plus"
  class="floating-button"
  (click)="postModal.open()"
  aria-label="Crear nuevo post"
></button>
