<p-dialog header="Crear nuevo post" [(visible)]="visible" [modal]="true" [style]="{ width: '400px' }">
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-column gap-3">
    <textarea
      pInputTextarea
      rows="3"
      formControlName="text"
      placeholder="What's your opinion?"
    ></textarea>

    <div class="flex gap-2">
      <p-button
      severity="info"
      label="Text"
      (click)="form.patchValue({ type: 'text' })"
    />
  </div>
    <div class="flex gap-2">
      <p-button
      severity="info"
      label="Image"
      (click)="form.patchValue({ type: 'picture' })"
    />
  </div>
    <div class="flex gap-2">
      <p-button
      severity="info"
      label="Video"
      (click)="form.patchValue({ type: 'video' })"
    />

    </div>

    <input
      *ngIf="form.value.type === 'picture'"
      pInputText
      placeholder="URL de la imagen"
      formControlName="picture_url"
    />

    <input
      *ngIf="form.value.type === 'video'"
      pInputText
      placeholder="URL del video"
      formControlName="video_url"
    />

    <button pButton type="submit"  [disabled]="form.invalid"> Publicar</button>
  </form>
</p-dialog>
